---
const currentPath = Astro.url.pathname;
---

<ul>
  <li><a class="nav-internal-link" href="/">홈</a></li>
  <li>
    <a
      class=`nav-internal-link ${currentPath === '/note' ? 'active' : ''}`
      href="/note">수첩</a>
  </li>
  <li>
    <a
      class=`nav-internal-link ${currentPath === '/library' ? 'active' : ''}`
      href="/library">서재</a>
  </li>
  <li>
    <a
      class=`nav-internal-link ${currentPath === '/util' ? 'active' : ''}`
      href="/util">도구</a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0 auto;

    width: fit-content;

    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }

  .nav-internal-link {
    position: relative;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;

    &:hover {
      background: var(--gray-700);
      color: var(--gray-200);

      transition: all 0.25s ease-in;
    }
  }

  .active {
    background: var(--gray-800);
    border: 1px solid var(--gray-600);
    color: var(--gray-50);

    &:hover {
      background: var(--gray-800);
      color: var(--gray-50);
    }
  }

  a {
    color: var(--gray-600);
  }
</style>
