<ul>
  <li><a class="external-link" href="/">홈</a></li>
  <li><a class="external-link" href="/note">수첩</a></li>
  <li><a class="external-link" href="/library">서재</a></li>
  <li><a class="external-link" href="/util">도구</a></li>
</ul>

<style>
  ul {
    display: flex;
    gap: 0.5rem;
    padding: 0;
  }
</style>
