---
import { Github } from "../components/icons/icons";

import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<BaseLayout>
  <MainLayout>
    <h1>박태준</h1>
    <div class="introduce-area">
      <p>
        <b>개발적으로는 새로운 기술</b>을 배우는 것도 좋아하지만, 최우선 가치로 고객의 <b>사용자 경험</b>을 우선시
        합니다. <br />
        <b>개인적으로는 공유하며 함께 성장하고 기뻐하는 것</b>을 좋아하고, 비효율적인 테스크를 <b
          >효율적으로 만드는 것</b
        >에 관심이 많습니다.
      </p>
      <p>
        현재 <a class="external-link" href="https://midasit.notion.site/MIDAS-IN-a9fffb2e45fb4519bfb7ae69e032f1f9"
          >마이다스인</a
        >에서 인사담당자 및 200만 구직자가 사용하는 레거시 프로젝트들을 리뉴얼하는 작업을 하고 있습니다.
      </p>
      <ul class="icon-list">
        <li>
          <a class="icon-link" href="https://www.github.com/joker77z"><Github /></a>
        </li>

        <!-- <li></li>
        <li></li>
        <li></li>
        <li></li> -->
      </ul>
    </div>

    <table class="page-area">
      <tr>
        <th><a class="menu-link external-link" href="/note">수첩</a></th>
        <td><span class="menu-description">작은 메모, 작은 생각들</span></td>
      </tr>
      <tr>
        <th><a class="menu-link external-link" href="">서재</a></th>
        <td><span class="menu-description">고민의 흔적</span></td>
      </tr>
      <tr>
        <th><a class="menu-link external-link" href="">도구</a></th>
        <td><span class="menu-description">효율성을 올려주는 도구들</span></td>
      </tr>
    </table>
  </MainLayout>
</BaseLayout>

<style>
  .introduce-area {
    margin-top: 40px;
  }
  .page-area {
    margin-top: 40px;
  }

  .page-list {
    margin-top: 60px;

    display: flex;
    flex-flow: column;
    gap: 0.75rem;
  }

  .menu-link {
    display: inline-block;
  }
  .menu-description {
    font-size: 0.875rem;
  }

  .icon-list {
    display: flex;
    flex-flow: row;
  }
  .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.125rem;

    width: 20px;
    height: 20px;
  }

  th {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 1.5rem;
  }
  td {
    height: 1.5rem;
  }
</style>
