---
import { Github } from "../components/icons/icons";

import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<!--홈-->
<BaseLayout>
  <MainLayout title="박태준" description="">
    <div data-animate data-animate-speed="slow">
      <div class="introduce-area">
        <div>
          <p>
            <b>새로운 기술</b>을 배우는 것도 좋아하지만, 고객의 <b
              >사용자 경험</b
            >을 우선시 합니다. <br />
            유용한 것을 발견하면 <b>공유하는 것</b>을 좋아하고, 비효율적인
            테스크를 <b>효율적으로 만드는 것</b>에 관심이 많습니다.
          </p>
          <p>
            현재 <a
              class="external-link"
              href="https://midasit.notion.site/MIDAS-IN-a9fffb2e45fb4519bfb7ae69e032f1f9"
              >마이다스인</a
            >에서 인사담당자 및 200만 구직자가 사용하는 레거시 프로젝트들을
            리뉴얼하는 작업을 하고 있습니다.
          </p>
        </div>
        <ul class="icon-list">
          <li>
            <a class="icon-link" href="https://www.github.com/joker77z"
              ><Github /></a
            >
          </li>
        </ul>
      </div>

      <table class="page-area">
        <tr>
          <th><a class="menu-link internal-link" href="/note">수첩</a></th>
          <td
            ><span class="menu-description"
              >순간적인 생각을 기록하는 작은 수첩</span
            ></td
          >
        </tr>
        <tr>
          <th><a class="menu-link internal-link" href="/library">서재</a></th>
          <td
            ><span class="menu-description">깊이 있는 고민과 통찰의 공간</span
            ></td
          >
        </tr>
        <tr>
          <th><a class="menu-link internal-link" href="/tool">도구</a></th>
          <td><span class="menu-description">생산성을 높여주는 도구</span></td>
        </tr>
      </table>
    </div>
  </MainLayout>
</BaseLayout>

<style>
  .introduce-area {
    display: flex;
    flex-flow: column;
    gap: 20px;
    margin-top: 24px;
  }
  .page-area {
    margin-top: 40px;
  }

  .page-list {
    margin-top: 60px;

    display: flex;
    flex-flow: column;
    gap: 0.75rem;
  }

  .menu-link {
    display: inline-block;

    margin-right: 20px;
  }
  .menu-description {
    font-size: 0.875rem;
  }

  .icon-list {
    display: flex;
    flex-flow: row;
    gap: 8px;
  }
  .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.125rem;

    width: 20px;
    height: 20px;

    color: var(--gray-500);

    &:hover {
      background: var(--gray-700);
      border-radius: 4px;
      color: var(--gray-50);

      transition: all 0.25s ease-in;
    }
  }

  th {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 1.5rem;
  }
  td {
    height: 1.5rem;
  }
</style>
