:root {
  --gray-50: #efefef;
  --gray-100: #cdcdcd;
  --gray-200: #b5b5b5;
  --gray-300: #939393;
  --gray-400: #7e7e7e;
  --gray-500: #5e5e5e;
  --gray-600: #474747;
  --gray-700: #313131;
  --gray-800: #262626;
  --gray-900: #1b1b1b;

  /* white mode */
  --heading-color: black;
  --text-color: black;
  --bg-color: white;
  --b-color: black;
  --link-color: black;
  --link-icon-color: black;
  --hover-color: black;

  --border: #292929;
  --content-width: 640px;
}

.dark {
  --heading-color: white;
  --text-color: #b0b0b0;
  --bg-color: #141414;
  --b-color: #ebebeb;
  --link-color: #ebebeb;
  --link-icon-color: #ebebeb;
  --hover-color: white;
}

body {
  width: 100vw;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: "Arita-buri", "ChosunSm", "Pretendard", Arial, Helvetica, sans-serif;
}

main {
  max-width: var(--content-width);
  margin: 128px auto 0;
}

h1 {
  font-size: 1.5rem;

  color: var(--heading-color);
}

h2 {
  font-size: 1.5rem;

  color: var(--heading-color);
}

p {
  line-height: 1.75rem;
}

b,
strong {
  color: var(--b-color);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--hover-color);
  }
}

.link {
  color: var(--link-color);

  text-decoration-color: var(--border);
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 1px;

  position: relative;

  &:hover {
    text-decoration: none;

    color: var(--hover-color);

    &::before {
      position: absolute;
      top: -0.125rem;
      bottom: -0.125rem;
      left: -0.125rem;
      right: -0.125rem;
      display: block;
      content: "";
      border-radius: 0.25rem;
      background: #ffffff45;
      opacity: 0.5;

      animation-name: fadein;
      animation-duration: 0.15s;
    }
  }
}

.external-link {
  padding-right: 1.25rem;
  margin-right: 0.25rem;

  position: relative;

  &:hover {
    &::before {
      position: absolute;
      top: -0.125rem;
      bottom: -0.125rem;
      left: -0.125rem;
      right: 0rem;
      display: block;
      content: "";
      border-radius: 0.25rem;
      background: #ffffff45;
      opacity: 0.5;

      animation-name: fadein;
      animation-duration: 0.15s;
    }
  }

  &::after {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    content: "";
    background-color: var(--link-icon-color);
    mask-image: url('data:image/svg+xml;utf8,<svg color="%23464646" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-size: cover;
    background-position: center;

    width: 1.25rem;
    height: 1.25rem;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.5;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] > * {
    --lv: 0;
    --lv-wait: 0;
    --delay: 50ms;
    --start: 0ms;
    animation: enter 0.5s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--lv-wait) * var(--delay) + var(--start));
  }

  [data-animate-speed="slow"] > * {
    --delay: 0.1s;
  }

  [data-animate-speed="fast"] > * {
    --delay: 25ms;
  }
}

[data-animate] > *:nth-child(1) {
  --lv: 1;
}

[data-animate] > *:nth-child(2) {
  --lv: 2;
}

[data-animate] > *:nth-child(3) {
  --lv: 3;
}

[data-animate] > *:nth-child(4) {
  --lv: 4;
}

[data-animate] > *:nth-child(5) {
  --lv: 5;
}

[data-animate] > *:nth-child(6) {
  --lv: 6;
}

[data-animate] > *:nth-child(7) {
  --lv: 7;
}

[data-animate] > *:nth-child(8) {
  --lv: 8;
}

[data-animate] > *:nth-child(9) {
  --lv: 9;
}

[data-animate] > *:nth-child(10) {
  --lv: 10;
}

[data-animate] > *:nth-child(11) {
  --lv: 11;
}
