@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("/fonts/Pretendard-Regular.subset.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: local("Pretendard-Bold"), url("/fonts/pretendard-Bold.subset.woff2");
  font-weight: bolder;
  font-display: swap;
}

@font-face {
  font-family: "ChosunSm";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arita-buri";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
