---
import ThemeHeaderScript from "../script/ThemeHeaderScript.astro";
import "../style/globalStyle.css";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="ko-kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />

    <title>{pageTitle}</title>
    <style></style>
    <ThemeHeaderScript />
  </head>
  <body>
    <slot />
  </body>
</html>
